.page-container {
    .sortArray-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    .sortArray{
        font-size: 25px;
        input{
            font-size: 20px;
        }
    }
    .btn-container{
        margin-top: 10px;
        .btn{
            background-color: lightgreen;
            padding: 10px;
            font-weight: bolder;
            font-size:medium;
            }
        }
    }
}

.bar {
    width: 30px;
    display: inline-block;
    margin: 0 2px;
    background-color: lightblue;
    height: 100px;
    transition: height 0.2s ease;
    position: relative;
}

.animales-desordenados {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    padding: 10px;
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
    }
}

.insertion-header{
    margin-bottom: 25px;
    background-color: #0a0a23;
    color: white;
}

.btn-config{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 20px;
}

.insercion-texto{
    font-size: 20px;
    text-align: center;
    margin: 50px;
    margin-bottom: 100px;
}