/* Header section */
.header-container{
    width: 100%;
    background-color: rgb(175, 175, 175);
}

.header-container h1{
    font-size: 2.0em;
}

nav{
    display: flex;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: black;
}
/* Body section */
body{
    margin: 0;
}
/* Main section */
