/* Header section */
.header-container{
    width: 100%;
    background-color: #0a0a23;
    h1 {
        font-size: 2.0em;
    }
}

main{
    background-color: white;
}

nav{
    display: flex;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: white;
}

body{
    margin: 0;
    background-color: white;
}

a :hover{
    transform: scale(2);
    color: yellow;
    text-decoration: underline;
}

.algoritmos-ordenacion{
    display: flex;
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    p {
        font-size: 30px;
    }
    img {
        max-width: 25%; /* <-- important */
    }
}

.section-2{
    display: flex;
}

main{
    display: flex;
    text-align: center;
}

.list-container{
    text-align: left;
    font-weight: 500;
    font-size: 23px;
    border: 1px solid black;
    margin-right: 130px;
    
}

li{
    margin-bottom: 15px;
}

.list-section{
    text-align: left;
    margin-left: 25px;
}

.important-section{
    width: 50%;
    padding-top: 80px;
}

.important-section p{
    font-size: 25px;
}